.title {
    text-align: center;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

.navlink {
  float: right;
  font-size:25px;
  font-family: 'Roboto', sans-serif;
}

.navlink a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlink a:hover {
  background-color: #111;
}

.center {
    text-align:"center";
}

.header {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: white;
    margin: 0;
    padding: 0;
}

.gap {
    width: 100%;
    height: 1000px;
}
